

<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox">
    <div class="item active banner carousel-content" style="background-image: url(<%= image_path 'home_pict1.jpg' %>);">
    <h1>Create a memorable polterabend</h1>
      <!-- <div class="carousel-caption"> -->
   <!--    </div> -->
    </div>

    <div class="item banner carousel-content" style="background-image: url(<%= image_path 'home_pict3.jpg' %>);">
     <!--  <div class="carousel-caption">
        Cornelius
      </div> -->
      <h1>Create a memorable polterabend</h1>
    </div>
    <div class="item banner carousel-content" style="background-image: url(<%= image_path 'home_pict5.jpg' %>);">
      <!-- <div class="carousel-caption">
        Cornelius
      </div> -->

    <div class="item banner" style="background-image: url(<%= image_path 'home_pict3.jpg' %>);">
      <div class="carousel-caption">

      </div>
    </div>
    <div class="item banner" style="background-image: url(<%= image_path 'home_pict5.jpg' %>);">
      <div class="carousel-caption">

      </div>

    </div>

  </div>




  <!-- Controls -->
 <!--  <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a> -->
</div>


<div class="wrapper-grey padded">
  <div class="container">
    <h2 class="text-center header" >How Polterappen works</h2>
    <div class="row">
      <div class="col-md-offset-1 col-md-10">
    <div class="row">
      <div class="col-xs-12 col-sm-3">
        <div class="card-instructions">
          <p class="icon-instructions">
            <%= image_tag "inspiration.svg" %>
          </p>
          <h2>Step 1</h2>
          <p>Get inspired</p>
        </div>
      </div>
      <div class="col-xs-12 col-sm-3">
        <div class="card-instructions">
       <p class="icon-instructions">
            <%= image_tag "create.svg" %>
          <h2>Step 2</h2>
          <p>Sign up and create a polterabend</p>
        </div>
      </div>

      <div class="col-xs-12 col-sm-3">
        <div class="card-instructions">
         <%= image_tag "invite.svg" %>
          <h2>Step 3</h2>
          <p>Invite your friends</p>
        </div>
      </div>


      <div class="col-xs-12 col-sm-3">
        <div class="card-instructions">
         <%= image_tag "party.svg" %>
          <h2>Step 4</h2>
          <p>And now you are set for a great party</p>
        </div>
      </div>
      </div>
      </div>
    </div>
    </div>
  </div>
</div>

<!-- <div class="container">
  <div class="row">
   <div class="col-md-4">
    <div class="card">
      <div class="card-image">
        <img src="http://unsplash.it/200" alt="">
      </div>
      <div class="card-details" >
        <div class="card-title">Activity name</div>
        <div class="card-category">Adventure</div>
        <div class="card-city">Copenhagen</div>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="card">
      <div class="card-image">
        <img src="http://unsplash.it/200" alt="">
      </div>
      <div class="card-details" >
        <div class="card-title">Activity name</div>
        <div class="card-category">Adventure</div>
        <div class="card-city">Copenhagen</div>
      </div>
    </div>
  </div>

  <div class="col-md-4">
    <div class="card">
      <div class="card-image">
        <img src="http://unsplash.it/200" alt="">
      </div>
      <div class="card-details" >
        <div class="card-title">Activity name</div>
        <div class="card-category">Adventure</div>
        <div class="card-city">Copenhagen</div>
      </div>
    </div>
  </div>
</div> -->

<h2 class="text-center header" >Get inspired for your polterabend</h2>



<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-md-4">
      <div class="category text-center" style="background: linear-gradient(-150deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.8)), url(<%= image_path 'activity_geeky2.jpg' %>)">
        <div class="category-details">
          <h2>Activities for the geeky</h2>
       </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4">
      <div class="category text-center" style="background: linear-gradient(-150deg, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.8)), url(<%= image_path 'activity_crazy_gokart.jpg' %>)">
        <div class="category-middle-details">
          <h2>Activities for the crazy</h2>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4">
      <div class="category text-center" style="background: linear-gradient(-150deg, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.8)), url(<%= image_path 'activity_fancy_home.jpg' %>)">
        <div class="category-details">
          <h2>Activities for the fancy</h2>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-3 col-md-4">
    <div class="category-big" style="background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.8)), url(<%= image_path 'activity_girly_home.jpg' %>)">
      <div class="category-big-details">
        <h2>Activities for the girly</h2>
      </div>
    </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-8">
    <div class="category-big" style="background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.8)), url(<%= image_path 'activity_adventure_home2.jpg' %>)">
      <div class="category-big-details">
        <h2>Activities for the adventurous</h2>
      </div>
      </div>
    </div>


    <div class="col-xs-12 col-sm-4">
      <div class="card-testimonial text-center">
        <p>
          I arranged the coolest polterabend for my best friend. The app made the planning so much fun.
        </p>
      </div>
    </div>

    <div class="col-xs-12 col-sm-4">
      <div class="card-testimonial text-center">
        <p>
          I arranged the coolest polterabend for my best friend. The app made the planning so much fun.
        </p>
      </div>
    </div>

    <div class="col-xs-12 col-sm-4">
      <div class="card-testimonial text-center">
        <p>
          I arranged the coolest polterabend for my best friend. The app made the planning so much fun.
        </p>
      </div>
    </div>
  </div>
</div>

<div class="text-center padded" id="newsletter">
  <h2 class="header">Get news from us</h2>

  <p>Leave us your mail and get news from us</p>
  <form class="form-inline">
    <input type="email" placeholder="bob@gmail.com" class="form-control">
    <input type="submit" value="Subscribe" class="btn">
  </form>
</div>
