

<!-- <div id="carousel-example-generic" class="carousel slide" data-ride="carousel"> -->
  <!-- Indicators -->
<!--   <ol class="carousel-indicators">
    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
  </ol> -->

  <!-- Wrapper for slides -->
<!--   <div class="carousel-inner" role="listbox">
    <div class="item active banner" style="background-image: url(<%#= image_path 'home_pict1.jpg' %>);">
      <div class="carousel-caption">
      </div>
    </div>
    <div class="item banner" style="background-image: url(<%#= image_path 'home_pict3.jpg' %>);">
      <div class="carousel-caption">

      </div>
    </div>
    <div class="item banner" style="background-image: url(<%#= image_path 'home_pict5.jpg' %>);">
      <div class="carousel-caption">

      </div>

    </div>

  </div> -->

  <!-- Controls -->

<!--   <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    <span class="sr-only">Next</span>

  </a>
</div> -->

<!-- banner  -->

<div class="banner bg-gradient">
  <div class="banner-film">
    <div class="container">
      <div class="row">
        <div class='col-xs-12' id='main-search'>
          <h1 class="banner-text">Some Text Here</h1>
        </div>
      </div>
    </div>
  </div>
</div>



<div class="wrapper-grey padded">
  <div class="container">
    <h2 class="text-center header" >How Polterappen works</h2>
    <div class="row">
      <div class="col-md-offset-1 col-md-10">
    <div class="row">
      <div class="col-xs-12 col-sm-3">
        <div class="card-instructions">
          <p class="icon-instructions">
            <%= image_tag "inspiration.svg" %>
          </p>
          <h2>Step 1</h2>
          <p>Get inspired</p>
        </div>
      </div>
      <div class="col-xs-12 col-sm-3">
        <div class="card-instructions">
       <p class="icon-instructions">
            <%= image_tag "create.svg" %>
          <h2>Step 2</h2>
          <p>Sign up and create a polterabend</p>
        </div>
      </div>

      <div class="col-xs-12 col-sm-3">
        <div class="card-instructions">
         <%= image_tag "invite.svg" %>
          <h2>Step 3</h2>
          <p>Invite your friends</p>
        </div>
      </div>


      <div class="col-xs-12 col-sm-3">
        <div class="card-instructions">
         <%= image_tag "party.svg" %>
          <h2>Step 4</h2>
          <p>And now you are set for a great party</p>
        </div>
      </div>
      </div>
      </div>
    </div>
    </div>
  </div>
</div>

<!-- <div class="container">
  <div class="row">
   <div class="col-md-4">
    <div class="card">
      <div class="card-image">
        <img src="http://unsplash.it/200" alt="">
      </div>
      <div class="card-details" >
        <div class="card-title">Activity name</div>
        <div class="card-category">Adventure</div>
        <div class="card-city">Copenhagen</div>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="card">
      <div class="card-image">
        <img src="http://unsplash.it/200" alt="">
      </div>
      <div class="card-details" >
        <div class="card-title">Activity name</div>
        <div class="card-category">Adventure</div>
        <div class="card-city">Copenhagen</div>
      </div>
    </div>
  </div>

  <div class="col-md-4">
    <div class="card">
      <div class="card-image">
        <img src="http://unsplash.it/200" alt="">
      </div>
      <div class="card-details" >
        <div class="card-title">Activity name</div>
        <div class="card-category">Adventure</div>
        <div class="card-city">Copenhagen</div>
      </div>
    </div>
  </div>
</div> -->

<h2 class="text-center header" >Get inspired for your polterabend</h2>




<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-md-4">
      <div class="card-images img-responsive" style="background-image: url(<%= image_path 'activity_geeky4.jpg' %>)">
        <div class="card-description-images">
          <p class="home-p">Activities for the geeky</p>
       </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4">
      <div class="card-images img-responsive" style="background-image: url(<%= image_path 'cheap2.jpg' %>)">
        <div class="card-description-images-3">
          <p class="home-p">Activities for the cheap asses</p>
        </div>
      </div>
    </div>
       <div class="col-xs-12 col-sm-6 col-md-4">
         <div class="card-images img-responsive" style="background-image: url(<%= image_path 'jim_carrey.gif' %>)">
          <div class="card-description-images">
            <p class="home-p">Activities for the crazy</p>
          </div>
        </div>
      </div>
   </div>
</div>


<div class="container">
  <div class="row">
    <div class="card-images-2 col-xs-12 col-sm-6 col-md-8">
    <div class="card-images-2 img-responsive" style="background-image: url(<%= image_path 'vintage_girly.gif' %>)">
      <div class="card-description-images-2">
        <p class="home-p">Activities for the girly</p>
      </div>
    </div>
    </div>
    <div class="card-images-2 col-xs-12 col-sm-3 col-md-4">
      <div class="card-images-2 img-responsive" style="background-image: url(<%= image_path 'activity_adventure_ship.jpg' %>)">
      <div class="card-description-images-2">
        <p class="home-p">Activities for the adventurous</p>
      </div>
      </div>
    </div>


    <div class="col-xs-12 col-sm-4">
      <div class="card-testimonial text-center">
        <p>
          We went out to have a look at the grass grow and went to the local museum. The bachelor loved it!<br>
          <strong>Love from Asser</strong>
        </p>
      </div>
      <div class="text-center">
        <%= image_tag 'asser.jpg', class: 'avatar-extra-large' %>
      </div>
    </div>

    <div class="col-xs-12 col-sm-4">
      <div class="card-testimonial text-center">
        <p>
          We got so wasted and ran around naked in the woods! Thank you POLTERAPPEN!!<br>
          <strong>Thanks from all the bros</strong>
        </p>
      </div>
        <div class="text-center">
        <%= image_tag 'drunk.jpg', class: 'avatar-extra-large' %>
      </div>
    </div>

    <div class="col-xs-12 col-sm-4">
      <div class="card-testimonial text-center">
        <p>
          I arranged the coolest polterabend for my best friend. The app made the planning so much fun.<br>
          <strong>KISSES Fernanda</strong>
        </p>
      </div>
      <div class="text-center">
        <%= image_tag 'fernanda.jpg', class: 'avatar-extra-large' %>
      </div>
    </div>
 </div>
</div>

<div class="text-center padded" id="newsletter">
  <h2 class="header">Get news from us</h2>

  <p>Leave us your mail and get news from us</p>
  <form class="form-inline">
    <input type="email" placeholder="bob@gmail.com" class="form-control">
    <input type="submit" value="Subscribe" class="btn">
  </form>
</div>
