
<h2> <%= @polterabend.title %> </h2>
<h3> polterabend activities </h3>
<% @pacts_and_acts.each do |pact_act| %>
  <%= link_to pact_act[1].name,
              polterabend_activity_polterabend_path(@polterabend.id, pact_act[0].id) %><br>
<% end %>
<h3> motherfuckers who are coming </h3>
<% @members.each do |member| %>
  <%= member.first_name %> <%= member.last_name %> <%= member.email %><br>
<% end %>

<% if @dayplanner %>
  <h3> crappy dayplanner </h3>
  <%= link_to 'dayplanner', polterabend_dayplanner_path(@polterabend.id, @dayplanner.id)%>
<% end %>

<h2>
  <%= pluralize @polterabend.comments.size, "comment" %>
</h2>
<div id="comments">
  <% if @polterabend.comments.blank? %>
    Be the first to leave a review for <%= @polterabend.title %>
  <% else %>
    <% @polterabend.comments.each do |comment| %>
      <%= render 'comments/show', comment: comment %>
    <% end %>
  <% end %>
</div>

<%= render 'comments/form', polterabend: @polterabend, comment: @comment %>
