<div class="wrapper text-center">
  <h2> <%= @polterabend.title %> </h2>
</div>


<!-- calculate the total cost -->
<% cost_array = [] %>
<% @pacts_and_acts %>
<% unless @pacts_and_acts.nil? %>
  <% @pacts_and_acts.each do |pact_act|%>
    <% cost_array << pact_act[1].cost %>
  <% end %>
<% end %>
<!-- calculate the total cost -->


<div class='wrapper polterabend-card'>
  <div class="row">
    <div class="col-xs-6">
      <h2>The Polter</h2>
      <%= cl_image_tag @polterabend.photo_url %>
    </div>
    <div class="col-xs-6">
      <h3> Who's Coming </h3>
      <% @members.each do |member| %>
        <% if member.membership.organiser %>
          <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
          <%= member.first_name %> <%= member.last_name %> <%= member.email %>
          <br>
        <% else %>
          <%= member.first_name %> <%= member.last_name %> <%= member.email %>
        <br>
        <% end %>
      <% end %>

      <h3>Total Cost</h3>
       <%= cost_array.sum %> DKK

      <h3>Cost Per Person</h3>
       <%= cost_array.sum / @members.length %>DKK

      <h3> Polterabend Date </h3>
      <div class="form-group">
        <div class='input-group date' id='datetimepicker3'>
          <input type='text' class="form-control"/>
          <span class="input-group-addon">
            <span class="glyphicon glyphicon-time"></span>
          </span>
        </div>
      </div>
    </div>
  </div>
</div>


<!-- ************ dayplanner ************ -->

<div class="wrapper polterabend-card">
  <div class="row">

    <div class="col-xs-5">
      <div class="panel panel-info">
        <div class="panel-heading">
          <h1 class="panel-title">Favourites</h1>
        </div>
        <div id="container1" class="box-container">
          <% @pacts_and_acts.each do |pact_act| %>
            <!-- <div itemid="<%#= "itm-" + "#{pact_act[1].id}" %>" class="row activity-item box-item" > -->
              <%= content_tag(:div, nil, itemid: "itm-" + pact_act[1].id.to_s, class: "activity-item box-item", data: {duration: "#{pact_act[1].duration}"}) do %>
              <div class="row">
                <div class="col-xs-10">
                  <%= pact_act[1].name %>
                  <%#= pact_act[1].address %>
                </div>
                <div class="col-xs-2 cost-box text-center">
                  <%= pact_act[1].cost %> DKK
                  <%= pact_act[1].duration %> min
                </div>
              <% end %>
            </div>
          <% end %>
        </div>
      </div>
      <button type="button" class="btn btn-primary" data-toggle="modal" data-target=".bs-example-modal-sm">Add Custom Activity</button>
    </div>

<!--     <div class="col-xs-2">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h1 class="panel-title">Time</h1>
        </div>
        <div class="box-container">
          <div class="row">
            <div class="col-xs-6">
              <%#= render 'dayplanners/timepicker'%>
            </div>
            <div class="col-xs-6">
              <%#= render 'dayplanners/timepicker'%>
            </div>
          </div>
        </div>
      </div>
    </div> -->

    <div class="col-xs-7">
      <div class="panel panel-success">
        <div class="panel-heading">
          <h1 class="panel-title">Polterabend</h1>
        </div>
        <div class="row">
         <div class="col-xs-2">
          <ul class="list-unstyled">
            <li class="time-slot-hour" >09:00</li>
            <li class="time-slot-half-hour" ></li>
            <li class="time-slot-hour" >10:00</li>
            <li class="time-slot-half-hour" ></li>
            <li class="time-slot-hour" >11:00</li>
            <li class="time-slot-half-hour" ></li>
            <li class="time-slot-hour" >12:00</li>
            <li class="time-slot-half-hour" ></li>
            <li class="time-slot-hour" >13:00</li>
            <li class="time-slot-half-hour" ></li>
            <li class="time-slot-hour" >14:00</li>
            <li class="time-slot-half-hour" ></li>
            <li class="time-slot-hour" >15:00</li>
            <li class="time-slot-half-hour" ></li>
            <li class="time-slot-hour" >16:00</li>
            <li class="time-slot-half-hour" ></li>
            <li class="time-slot-hour" >17:00</li>
            <li class="time-slot-half-hour" ></li>
            <li class="time-slot-hour" >18:00</li>
            <li class="time-slot-half-hour" ></li>
            <li class="time-slot-hour" >19:00</li>
            <li class="time-slot-half-hour" ></li>
            <li class="time-slot-hour" >20:00</li>
            <li class="time-slot-half-hour" ></li>
            <li class="time-slot-hour" >21:00</li>
            <li class="time-slot-half-hour" ></li>
            <li class="time-slot-hour" >22:00</li>
            <li class="time-slot-half-hour" ></li>
            <li class="time-slot-hour" >23:00</li>
            <li class="time-slot-half-hour" ></li>
            <li class="time-slot-hour" >24:00</li>
            <li class="time-slot-half-hour" ></li>
          </ul>
         </div>
         <div id="container2" class="col-xs-10 box-container">
         <% unless @plans.empty? %><% @plans.each do |plan| %>
          <div itemid="<%= "itm-" + "#{plan.id}" %>" id='test' class="activity-item box-item">
            <%= plan.name %>
            <div class="pa-act hidden">
              <%= plan.id %>
            </div>
          </div>
        <% end %>
        <% end %>
        </div>
        </div>
        <!-- marks code -->
          <div class="acts-dayplanners-btn">
            <%= submit_tag "Save the awesome dayplan you have chosen", class: "btn btn-primary" %>
          </div>
          <div class="pa-acts-btn">
            <%= link_to save_pa_acts_path do %>
              <div class="btn btn-primary">
                Save the awesome activities you have chosen
              </div>
            <% end %>
          </div>
        <!-- marks code -->
      </div>
    </div>
  </div>
</div>

<!-- temporary -->
<% if @dayplanner %>
  <h3> crappy dayplanner </h3>
  <%= link_to 'dayplanner', polterabend_dayplanner_path(@polterabend.id, @dayplanner.id)%>
<% end %>
<!-- temporary -->

<div id="comments" class='wrapper polterabend-card'>
  <!-- <div class="container polterabend-card"> -->
    <h2><%= pluralize @polterabend.comments.size, "comment" %></h2>
    <% if @polterabend.comments.blank? %>
      Be the first to leave a comment for <%= @polterabend.title %>
    <% else %>
      <% @polterabend.comments.each do |comment| %>
        <%= render 'comments/show', comment: comment %>
      <% end %>
    <% end %>
    <%= render 'comments/form', polterabend: @polterabend, comment: @comment %>
  <!-- </div> -->
</div>

<!-- ************** google map api and javascript ************** -->

<div class="wrapper">
  <div id="map" style="width: 100%; height: 400px;"></div>
</div>

<% content_for(:after_js) do %>
  <%= javascript_tag do %>
    $(document).ready(function() {
      var handler = Gmaps.build('Google');
      handler.buildMap({ internal: { id: 'map' } }, function() {
        markers = handler.addMarkers(<%= raw @hash.to_json %>);
        handler.bounds.extendWith(markers);
        handler.fitMapToBounds();
        if (markers.length == 0) {
          handler.getMap().setZoom(2);
        } else if (markers.length == 1) {
          handler.getMap().setZoom(14);
        }
      });
    });
  <% end %>
<% end %>

<script>
  $(document).ready(() => {
    var loop_max;
    if (<%= @plans.empty? %>){
      loop_max = 0;
    } else {
      loop_max = <%=  @plans.length %>;
    }
    for (var i = 0; i < loop_max; i++){
      $('.time-field-'+i).removeClass('hidden');
      window.increment_items();
    }
  });
  $(".acts-dayplanners-btn").on("click", function() {
    var array = $("#container2>.activity-item>.pa-act");
    var json_for_pa_acts = {};
    json_for_pa_acts.activity_ids = [];

    for (var i = 0; i < array.length; i++) {
      json_for_pa_acts.activity_ids.push(array[i].innerHTML.replace(/ /g,"").replace(/\n/g,""));
    }
    json_for_pa_acts.dayplanner_id = <%= params[:id] %>;
    console.log(json_for_pa_acts)
    $.post(
        '<%= save_pa_acts_path %>',
        json_for_pa_acts,
        function(data) {
          alert('Saved your awesome dayplan');
    });
  });
</script>
