
<h2> <%= @polterabend.title %> </h2>

<div class='container'>
  <%= cl_image_tag @polterabend.photo_url %>
</div>

<h3> polterabend activities </h3>



<h3> polterabend total cost </h3>
<% cost_array = [] %>
<% @pacts_and_acts.each do |pact_act| %>
  <%= link_to pact_act[1].name,
              polterabend_activity_polterabend_path(@polterabend.id, pact_act[0].id) %><br>
  <% cost_array.push(Activity.find(pact_act[0].activity_id).cost) %>
<% end %>
<p>Total Cost: <%= cost_array.sum %></p>

<h3> motherfuckers who are coming </h3>
<% @members.each do |member| %>
  <%= member.first_name %> <%= member.last_name %> <%= member.email %>
  <br>
<% end %>

<% if @dayplanner %>
  <h3> crappy dayplanner </h3>
  <%= link_to 'dayplanner', polterabend_dayplanner_path(@polterabend.id, @dayplanner.id)%>
<% end %>


<div class="container">
  <div class="row">
   <div class="col-xs-12 col-sm-4 col-sm-offset-8">
    <h2>
      <%= pluralize @polterabend.comments.size, "comment" %>
    </h2>
    <div id="comments" class='wrapper'>
      <% if @polterabend.comments.blank? %>
        Be the first to leave a review for <%= @polterabend.title %>
      <% else %>
        <% @polterabend.comments.each do |comment| %>
          <%= render 'comments/show', comment: comment %>
        <% end %>
      <% end %>
    </div>
    <%= render 'comments/form', polterabend: @polterabend, comment: @comment %>
    </div>
  </div>
</div>
