<h1>This is the Activities INDEX page</h1>

<% unless current_user.nil? %>
  <div class="pa-acts-btn">
    <%= link_to activities_path(@activities) do %>
      <div class="btn btn-primary">
        Save the awesome activities you have chosen
      </div>
    <% end %>
  </div>
<% end %>


<%= @selected_activities %>
<div class="container">
  <div class="row">
    <% @activities.each do |activity| %>
      <div class="col-xs-4">
        <div class="activity-card">

          <div class="activity-pic">
            <%= image_tag activity.photo_url, class: 'img-responsive'%>
          </div><!-- activity-pic end -->
          <div class="activity-deets">

            <div class="deets-center">
              <h4>
                <%= link_to activity.name, activity_path(activity) %>
              </h4>
              <div class="card-category"><%= activity.category %></div>
              <!--
              <div class="card-description"><%= activity.description %></div>
              -->
              <div class="card-city sm-text"><%= activity.address %></div>
            </div><!-- deets-center end -->

            <div class="deets-rhs">
              <% unless current_user.nil? %>
                <div class="upvote-hand <%= activity.name %> <% if @selected_activities.include? activity.id %> green <% end %>">
                  <i class="fa fa-star favourite-icon-size" aria-hidden="true"></i>
                  <div style="display:none !important;" class="activity_id">
                    <%= activity.id %>
                  </div>
                </div>
              <% end %>
            <div class="deets-lhs">
              <!-- <div class="card-duration"><%= activity.duration %></div> -->
              <div class="card-cost"><%= activity.cost %> DKK</div>
            </div><!-- deets-rhs end -->
            </div><!-- deets-rhs -->

          </div><!-- activity-deets end -->
        </div>
      </div>
    <% end %>
  </div>
</div>


<!-- google map api -->
<div class="container">
  <div id="map" style="width: 100%; height: 600px;"></div>
</div>

<!-- google map api -->


<%= javascript_include_tag 'application' %>
<script>
// dont add blue to green hands wrapping whole if statement in a new if
$(".upvote-hand").on("click", function() {
  if (!$(this).hasClass('green')){
    if ($(this).hasClass('blue')){
      $(this).removeClass('blue');
    } else {
      $(this).addClass('blue');
    }
  }
  console.log('has classes '+$(this).attr("class"));
});
</script>

<script>

 $(".pa-acts-btn").on("click", function() {
      var array = $(".upvote-hand.blue>.activity_id");
      var json_for_activities = {};
      json_for_activities.activity_ids = [];
      for (var i = 0; i < array.length; i++) {
        json_for_activities.activity_ids.push(array[i].innerHTML.replace(/ /g,"").replace(/\n/g,""));
      }
      json_for_activities.polterabend_id = <%= current_user.membership.polterabend_id %>;
      $.post(
          '<%= save_activities_path %>',
          json_for_activities,
          function() { alert('we are the champions my friend'); }
          );
  });

</script>


