  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-md-6">
        <h1><%=@activity.name %></h1>
        <h2 class="details-color">Details</h2>
        <p class="description-text"><%= @activity.description %></p>
        <p class="text-size"><strong class="color-text">Address: </strong><%= @activity.address %></p>
        <p class="text-size space"><strong class="color-text">Duration: </strong><%= @activity.duration %> min</p>
       <!--  <p></strong><%#=@activity.cost %></p> -->
            <div>
              <%= link_to 'Back to activities', activities_path(@activities), class: 'btn' %>
            </div>

      </div>
      <div class="col-xs-12 col-md-6">

        <div class="picture-container">
          <%= image_tag @activity.photo, class: "activity-show-pic" %>
          <div class="category-place">
            <%= @activity.category.upcase %>
          </div>
          <div class="cost-boxes">
            <%= @activity.cost %> DKK
          </div>

        </div>
        <div class="text-right">
        <% unless current_user.nil? %>
          <%= simple_form_for :save_activity, :url => save_activity_path, :method => :post do |f| %>
            <%= f.hidden_field :activity_id, value: @activity.id %>
            <%= f.hidden_field :polterabend_id, value: @polterabend.id %>
              <div class="save-button">
                <%= f.button :submit, value: "Save Activity to Polterabend", class: 'btn' %>
              </div>
            <% end %>
        <% end %>
        </div>
      </div>
    </div>
  </div>



<%= javascript_include_tag 'application' %>
<script>
// dont add blue to green hands wrapping whole if statement in a new if
$(".upvote-hand").on("click", function() {
  if (!$(this).hasClass('green')){
    if ($(this).hasClass('blue')){
      $(this).removeClass('blue');
    } else {
      $(this).addClass('blue');
    }
  }
  console.log('has classes '+$(this).attr("class"));
});
</script>

<script>

 $(".pa-acts-btn").on("click", function() {
      var array = $(".upvote-hand.blue>.activity_id");
      var json_for_activities = {};
      json_for_activities.activity_ids = [];
      for (var i = 0; i < array.length; i++) {
        json_for_activities.activity_ids.push(array[i].innerHTML.replace(/ /g,"").replace(/\n/g,""));
      }
      json_for_activities.polterabend_id = <%= current_user.membership.polterabend_id unless current_user.nil? || current_user.membership.nil?%>;
      $.post(
          '<%= save_activities_path %>',
          json_for_activities,
          function() { alert('You have saved the activities to favourites - congratulations! Go plan your party!'); }
          );
  });

</script>
