<!DOCTYPE html>
<html>
  <head>
    <title>Polterappen</title>
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <%= stylesheet_link_tag    'application', media: 'all' %>
  </head>
  <body>
    <div id="wrapper">

      <div id="header">
        <%= render 'shared/navbar' %>
      </div>

      <div id="content">
        <%= render 'shared/flashes' %>
        <%= yield %>
        <%= javascript_include_tag 'application' %>
      </div>

      <div class="push"></div>
      <div id="footer">
        <%= render 'shared/footer' %>
      </div>

    </div>
  </body>
</html>
