<!DOCTYPE html>
<html>
  <head>
    <title>Polterappen</title>
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <%= javascript_include_tag 'application' %>
    <%= stylesheet_link_tag    'application', media: 'all' %>
  </head>
  <body>
    <div id="wrapper">

      <div id="header">
        <%= render 'shared/navbar' %>
      </div>

      <div id="content">
        <%= render 'shared/flashes' %>
        <%= javascript_include_tag "https://maps.google.com/maps/api/js?libraries=places&key=#{ENV['GOOGLE_API_BROWSER_KEY']}" %>
        <%= javascript_include_tag "https://cdn.rawgit.com/printercu/google-maps-utility-library-v3-read-only/master/markerclusterer/src/markerclusterer_compiled.js" %>
        <%= javascript_include_tag "https://cdn.rawgit.com/printercu/google-maps-utility-library-v3-read-only/master/infobox/src/infobox_packed.js" %>
        <%= javascript_include_tag "https://code.jquery.com/ui/1.12.0/jquery-ui.js" %>
        <%= yield %>
        <%= yield(:after_js) %>
      </div>

      <div class="push"></div>
      <div id="footer">
        <%= render 'shared/footer' %>
      </div>

    </div>

    <!-- overlays -->
    <div id='overlay' class='closed'>
      <div class='pa-form'>
        <%= render 'shared/form_popup' %>
      </div>
    </div>
    <script type="text/javascript">
        $("#open-overlay").on('click', () => {
          $("#overlay").removeClass("closed");
        });
        $(document).keydown( function(event) {
          if (event.which === 27) {
            $("#overlay").addClass("closed");
          }
        });
        $(function () {
          $('[data-toggle="popover"]').popover()
        })
    </script>
  </body>
</html>
